# -----------------------------
# Python Virtual Environment
# -----------------------------
venv/
env/

# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Pytest cache / test reports
# -----------------------------
.pytest_cache/
*.html
*.xml
*.log

# Avoid committing reports from API/UI tests
api-testing/*.html
ui-testing/*.html

# -----------------------------
# Locust temporary files
# -----------------------------
*.hatch
*.locust
locust.db

# -----------------------------
# VS Code / IDE files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build / distribution folders
# -----------------------------
build/
dist/
